{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuel Efficient Route | Pincode</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script>
        // Get the user's location coordinates
        function getUserLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            }
        }

        // Update the form fields with the coordinates
        function showPosition(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            document.getElementById('latitude').value = latitude;
            document.getElementById('longitude').value = longitude;
        }

        // Call the function on page load
        window.onload = getUserLocation;
    </script>
</head>

<body>
    <div class="main">
        <form method="post">
            {% csrf_token %}
            <label for="pincode">ENTER PINCODE</label><br><br>
            <input type="text" name="pincode" id="pincode" required placeholder="PINCODE">
            <input type="hidden" name="latitude" id="latitude" value="">
            <input type="hidden" name="longitude" id="longitude" value="">
            <button type="submit">Let's Go</button>
        </form>
    </div>
</body>

</html>