{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuel-Efficient Route</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="container">
        <div>
            <h1>Fuel-Efficient Route for Pincode: {{ pincode }}</h1>
            <p>Your Location: {{ origin_name }}</p>
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>School Name</th>
                            <th>Schol Address</th>
                            <th>Distance</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for school, distance in page_obj %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ school.name }}</td>
                            <td>{{ school.address }}</td>
                            <td>{{ distance }} Km</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </section>
            <div class="pagination">
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% else %}
                <a class="disabled" href="#">Previous</a>
                {% endif %}

                <!-- <span class="current-page">{{ page_obj.number }}</span> -->
                {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                <a class="page-link active" href="#">{{i}}</a>
                {% else %}
                <a class="page-link" href="?page={{i}}">{{i}}</a>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                {% else %}
                <a class="disabled" href="#">Next</a>
                {% endif %}
            </div>
            <div>
                <button class="homeBtn"><a href="{% url 'home' %}">Home</a></button>
            </div>
        </div>
    </div>
</body>

</html>